#card-component {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

#card-component .card-title {
    font-weight: 600;
}

#discounted-img {
    color: white;
    font-size: 18px;
    text-align: center;
    background-color: #F17228;
    width: 75px;
    height: 43px;
    position: absolute;
    padding: 7px 0 0 7px;
    z-index: 2;
    top: 8px;
    right: 8px;
    border-radius: 0 8px 0 20px;
}

@media screen and (max-width: 740px) {
    #card-component .card-title, .card-text {
        font-size: 12px;
        font-weight: 700;
    }


    #discounted-img {
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 5px 0 0 5px;
        background-color: #F17228;
        width: 50px;
        height: 27px;
        position: absolute;
        z-index: 2;
        top: 8px;
        right: 8px;
        border-radius: 0 7px 0 20px;
    }


}

@media screen and (min-width: 741px) and (max-width: 1440px) {
    #card-component .card-title {
        font-size: 14px;
        font-weight: 700;
    }

    #discounted-img {
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 5px 0 0 5px;
        background-color: #F17228;
        width: 46px;
        height: 26px;
        position: absolute;
        z-index: 2;
        top: 8px;
        right: 8px;
        border-radius: 0 6px 0 10px;
    }

}