#card-component {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}
#discounted-img::before{
    content: "30%";
    color: white;
    text-align: center;
    background-color: #F17228;
    width: 20%;
    height: 10%;
    position: absolute;
    z-index: 2;
    top: 24px;
    right: 24px;
    border-radius: 0 10px 0 20px ;
}