#category-name{
    border-left: 11px #F17228 solid !important;
}
#category-card{
    cursor: pointer;
}

@media screen and (max-width: 740px){
    #category-card:nth-child(3), #category-card:last-child{
        display: none;
    }
    
}