.main-footer{
    background-image: url('../data/bg.png');
    background-position: center, center;
}
.main-footer a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.list-unstyle ul li{
    color: #fff;
    list-style: none;
    padding-bottom: 16.67px;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.border{
    width: 100%;
    color: white;
    opacity: 0.75;
}
.social-icons a img{
    padding: 10px;
    position: relative; 
}
.Copyright{
    font-size: 12px;    
    color: #fff;
    padding: 10px;    
}
.list-style2{
     position: absolute;
     box-sizing: border-box;
     padding:0;
}
.info{
    font-size: 14px;
    padding-top: 10px;
}
.info ul li{
    padding-bottom: 10px;
}