#menu-tab .nav-link {
    color: #F17228 !important;
    font-weight: 700 !important;
    border: #F17228 1px solid !important;
    border-radius: 15px !important;
    padding: 8px 16px !important;
    transition: ease-in-out 0.3s;
  }

  #menu-tab .active {
    background-color: #F17228 !important;
    color: white !important;
    transition: ease-in-out 0.3s;
  }
  #sub-menu{
    transition: ease-in-out 0.3s;
  }
  
  #menu-tab {
    overflow: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  #menu-tab::-webkit-scrollbar{
    display: none;
  }
  @media (min-width: 992px) {
    #menu-tab {
      width: 50%;
    }
  }

